/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

body {
  font-size: 1rem; // change value to scale
  font-family: Roboto, sans-serif;
  background-color: #edf2f4;
}

button {
  background-color: rgb(206, 67, 67); /* Green */
  border: none;
  color: #edf2f4;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

button:focus {
  background-color: rgb(148, 50, 50); /* Green */
  color: #edf2f4;
}

h1 {
  color: #2b2d42;
}
